{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
          "node": true,
        },
        "modules": "auto"
      }
    ]
  ]
}
