{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
          "node": true,
        },
        "modules": "auto"
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "test": {
      "plugins" : ["transform-es2015-modules-commonjs"]
    }
  }
}
